*{margin:0;padding:0}
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    margin-left: 5px;
    transition: all 0.2s;
 }
.icon.active{
  transform: scale(1.3);
  fill: #e05d5d;
}
.xxx{
  background:#ffffff;
  display:block;
}
.tool{
  position:fixed;
  top:15px;
  left: 35px;
  transform: scale(1.5);
}
.palette{
  position: fixed;
  top: 50px;
  left: 10px;
}
.palette > ol{
  list-style: none;
  display: inline-block;
}

.palette > ol > li {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  margin: 6px 0;
  transition: all 0.3s;
}
.palette > ol > .red{
  background: red;
}
.palette > ol > .green{
  background: green;
}
.palette > ol > .blue{
  background: blue;
}
.palette > ol > .red.active{
  transform: scale(1.3);
  box-shadow: 0px -2px 22px -4px rgba(233, 52, 52, 0.75);
}
.palette > ol > .green.active{
  transform: scale(1.3);
  box-shadow: 0px -2px 22px -4px rgba(34, 223, 119, 0.75);
}
.palette > ol > .blue.active{
  transform: scale(1.3);
  box-shadow: 0px -2px 22px -4px rgba(64, 85, 202, 0.75);
}
.pencilSize{

  position: fixed;
  right: 15px;
  top: 15px;
}
.pencilSize > ol{
  list-style: none;
  height: 100%;
  display: flex;
}
.pencilSize > ol > li{
  display: inline-block;
  vertical-align: top;
  background: #000;
  border-radius: 50%;
  align-self: flex-end;
  margin: 0 6px;
}
.pencilSize > ol > .onePx{
  width: 15px;
  height: 15px;
  bottom: 0;
}
.pencilSize > ol > .fivePx{
  width: 20px;
  height: 20px;
}
.pencilSize > ol > .tenPx{
  width: 25px;
  height: 25px;
}
/* .action > .eraser{
left:0;
bottom:0;
}
.action > .brush{
display:none;
}
.action.b > .eraser{
display:none;
}

.action.b > .brush{
display:inline-block;
} */
